body {
  background-color: rgb(29, 22, 9);
  margin-left: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
}

a:visited {
  color: white;
}

.text {
  font-weight: 550;
}

.green_href {
  color: #216c76;
  font-weight: bold;
}

.smaller_text {
  font-size: smaller;
  position: relative;
  top: 6px;
}

/*header*/

.header_banner {
  background-color: #222f3f;
  width: 1080px;
  height: 45px;
}

.amazon_logo_01 {
  width: 100px;
  height: auto;
  margin-top: 5px;
  margin-left: 20px;
}

.list {
  background-color: #364757;
  width: 1080px;
  height: 25px;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

ul#menu li {
  display: inline;
  margin-left: 15px;
  position: relative;
  top: 5.5px;
}

.main_grey_box {
  background-color: #e9edee;
  width: 1030px;
  height: 1310px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.orange_banner {
  background-color: #f56600;
  width: 1030px;
  height: 25px;
  text-align: center;
  color: #e9edee;
}

.green_banner {
  background-color: #2f6d5e;
  background-image: url(../img/bg-image.png);
  background-size: contain;
  width: 1030px;
  height: 147px;
  position: relative;
  top: 25px;
  text-align: center;
}

.gb_t01 {
  color: white;
  position: relative;
  top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1.5em;
}

.gb_t02 {
  color: white;
  position: relative;
  top: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.white_inner_box {
  background-color: white;
  width: 1030px;
  height: 355px;
  position: relative;
  top: 50px;
}

.white_box_menu {
  width: 1030px;
  height: 50px;
  position: relative;
  top: 10px;
}

.tab {
  width: 230px;
  height: 285px;
  display: inline;
  border-radius: 15px;
  margin-inline-end: 6px;
  margin-inline-start: 6px;
  object-fit: cover;
  filter: drop-shadow(10px 10px 10px rgba(124, 123, 123, 0.555));
}

.tab_02 {
  width: 1030px;
  height: 315px;
  display: inline;
  position: relative;
  top: 25px;
  margin-top: 30px;
  object-fit: cover;
}

.tab_02_text {
  background-color: #2f6d5e;
  text-align: center;
  display: inline;
  position: relative;
  top: 50px;
}

.bottom_line {
  background-color: #364759;
  width: 1080px;
  height: 40px;
  text-align: center;
}

.bottom_line_text {
  text-align: center;
  position: relative;
  top: -30px;
  right: -480px;
}

.b_logo_img {
  width: 130px;
  height: auto;
  margin-top: 50px;
}

.bottom_banner {
  background-color: #222f3f;
  width: 1080px;
  height: 145px;
  text-align: center;
  position: relative;
  top: -16px;
}
